<h2>注文履歴詳細</h2>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-9">
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <td>購入者</td>
            <td></td>
          </tr>
          <tr>
            <td>注文日</td>
            <td></td>
          </tr>
          <tr>
            <td>配送先</td>
            <td></td>
          </tr>
          <tr>
            <td>支払方法</td>
            <td></td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-9">
      <table class="table table-hover table-inverse">

        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>

        <tbody>
          
          <!--customerの注文履歴を表示する-->
          <% @order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.item.with_tax_price %></td>
            <td><%= order_detail.amount %></td>
            <td><%= order_detail.subtotal %></td>
      
            <%# @total_price += cart_item.subtotal %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
      
  <div class="col-md-3">
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <td>商品合計</td>
          <td></td>
        </tr>
        <tr>
          <td>送料</td>
          <td>800円</td>
        </tr>
        <tr>
          <td>請求金額合計</td>
          <td></td>
        </tr>
      </thead>
    </table>
  </div>
</div>