<!--customersのordersの一覧-->
<h2>注文履歴一覧</h2>

<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>
    </tr>
  </thead>

  <tbody>
    <!--customerの注文履歴一覧-->
    <% @orders.each do |order| %>
    <tr>
      <td>
        <!--customerが商品を購入した(orderをcreateした)日時-->
        <%= link_to order.created_at.strftime("%Y/%m/%d %H:%M:%S"), admin_order_path(order.id) %>
      </td>
      <td>
        <!--注文したcustomerのfull_name-->
        <%= order.customer.full_name %>
        </td>
      <td>
        <!--注文した商品の個数-->
        <%= order.total_amount %>
        </td>
    </tr>
    <% end %>
  </tbody>
</table>