<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-2">
      <table class="table table-hover table-inverse">
        <tr>
          <th>ジャンル機能</th>
        </tr>
        <tr>
          <td>ケーキ</td>
        </tr>
        <tr>
          <td>焼き菓子</td>
        </tr>
        <tr>
          <td>プリン</td>
        </tr>
        <tr>
          <td>キャンディ</td>
        </tr>
      </table>
    </div>

  <div class="mx-auto col-12 col-sm-10 col-lg-8 col-xl-6">
    
    
  </div>
  
</div>
